/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}
.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.navbar {
    background-color: #0d0e0d; /* Mint Green */
}
.hero-section {
    background: url('back.PNG') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
}
.hero-section .highlight {
    color: #00d4ff;
}
.about-section img {
    max-width: 80%;
}
.services-section, .skills-section, .contact-section {
    padding: 4rem 0;
}
.project-card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.project-card:hover {
    transform: scale(1.05);
}
.footer {
    background-color: #343a40;
    color: #fff;
}
